# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# IDE
/.vscode/

# Data directories
/data/
!/data/README.md  # сохраняет только README в data, если он нужен

# Временные/обработанные данные
/extract_text_from_instructions/data/Инструкции_txt/
/process_yEd_graph/data/
/parse_vigiaccess/data/
/text_corpus_addiction/data/
/make_side_effect_dataset/data/

# Специфичные файлы/папки
dedoc_OCR
*.zip

# Скачанные/бинарные данные
/data/downloaded/
/data/data_bio/
/data/Инструкции_ГРЛС_*/
/data/*_scan/

# Драйверы и бинарные файлы
/parse_vigiaccess/driver/
/visualization_embedding/data
/doccano/data
/CustomPymorphy/__pycache__
/CustomPymorphy/__pycache__
/parse_vigiaccess/logs
